#c1div{
	float:left;
	margin-left: 60 ;
}
#c2div{
	 
	float:right ;
}
#rosaparks{
	position:absolute;
	margin-left: 950 ;
	background-color:#ADD8E6 ;
	
}
#goodwomen{
	margin-left: 10 ;
}
p{
 
 font-size: 20 ;
}
div{
	margin-left: 5px;
	background-color: #ADD8E6 ;
	
}
#yedamanus{
	margin-left: 120 ;
}
#bestplayer{
	margin-left: 20 ;
	
}
.banner{
	margin-left: 520 ;
	position: absolute ;
}
#div4{
  position: absolute ;
  margin-top:830px ;  
  margin-left: 25 ;
  
}
#malalabai{
	margin-left: 40 ;
}
#ip5{
	position:absolute ;
	margin-top: 840 ;
	margin-left: 515 ;
	
}
#c1{
	font-size: 40 ;
	margin-top:200;
}
#c2{
	font-size: 40 ;
	margin-top:220;
}
#c3{
	font-size: 40 ;
	margin-top: 80 ;
}
#c4{
	font-size: 40 ;
	margin-top: 150;
}
#c5{
	font-size: 40 ;
	margin-top: 270 ;
	}
#c6{
	font-size: 40 ;
	margin-top:175;
    }
#c7{
    font-size: 40 ;
	margin-top: 200 ;
	}
#c8{
	font-size: 40 ;
	margin-top:135;
    }
#c9{
	font-size: 40 ;
	margin-top:95;
    }
#ip6{
	position:absolute ;
	margin-top: 840 ;
	margin-left: 980 ;
	}
	#ipi6{
		margin-left: 50 ;
	}
	#ipi5{
		margin-left: 50 ;
	}
	#ip7{
		position:absolute ;
		margin-top: 1550 ;
		margin-left:  20 ;
	}
	#ipi7{
		margin-left:80 ;
	}
	#ip8{
		position:absolute ;
		margin-top: 1550 ;
		margin-left: 460 ;
	}
	#ipi8{
		margin-left: 80 ;
	}
	#ip9{
		position: absolute ;
		margin-top: 1550;
		margin-left: 1000 ;
	}
	#ipi9{
		margin-left: 80 ;
	}
	.rosaa1{
		margin-top: 1000 ;
	}
	